.features {
  background-color: #c7a2dd;
  padding: 40px 0;
  color: black;
}
.features__container {
  max-width: 1240px;
  padding: 0 40px;
  margin: 0 auto;
}
.features__list {
  display: flex;
  gap: 30px;
  justify-content: space-around;
}
.features__lists {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-evenly;
}
.features__img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.features__img:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
  filter: drop-shadow(4px 7px 20px #dbc9c9);
  transform: translate(0, -5px);
  transform: scale(1.2);
}

.features__item-text {
  text-align: center;
  justify-content: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.72px;
  margin-bottom: 10px;
}

.features__item-text:hover {
  color: #e90ee9;
  border-bottom: 2px solid #ccabdf;
}

@media (max-width: 1250px) {
  .features__lists {
    flex-basis: 190px;
    font-size: 16px;
    background-size: 80px;
    padding-top: 10px;
  }
}

@media (max-width: 1000px) {
  .features__list {
    gap: 24px;
  }
  .features__list {
    flex-basis: 180px;
    font-size: 14px;
    background-size: 60px;
    padding-top: 10px;
  }
}

@media (max-width: 760px) {
  .features__list {
    flex-wrap: wrap;
    gap: 20px 50px;
    justify-content: space-around;
  }
}

@media (max-width: 580px) {
  .features__list {
    gap: 20px 22px;
  }
}
