.footer {
  background-color: #827980;
  color: #070707;
  padding: 30px 0 100px;
  font-size: 18px;
  line-height: 130%;
}
.footer__container {
  display: flex;
  flex-direction: inherit;
  justify-content: space-evenly;
  gap: 38px 30px;
}
.footer__title {
  font-size: 24px;
  font-style: oblique;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.96px;
  align-items: center;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer__link {
  display: inline-block;
  margin-bottom: 10px;
  color: #070707;
  line-height: 130%;
  letter-spacing: 0.64px;
}
.footer__info {
  display: flex;
  flex-direction: column;

  align-items: space-around;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.64px;
}
.footer__rules {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.64px;
}
.footer__kontakt {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.footer__contacts {
  display: grid;
  grid-template-rows: repeat(1, 2fr);
  align-items: space-around;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.footer__items {
  display: flex;
}
.footer__link {
  transition: color 0.3s ease-in-out;
}
.footer__list-social {
  display: flex;
  align-items: center;
}

.footer__item-social {
  margin-right: 20px;
}
.footer__link-social {
  display: block;
  width: 40px;
  height: 40px;
}

@media (max-width: 1200px) {
  .footer {
    padding: 57px 0;
    font-size: 16px;
  }
  .footer__container {
    gap: 53px 30px;
    grid-template-columns: 3fr 3fr 3fr 3fr;
  }
  .footer__title {
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .footer__contacts {
    font-size: 20px;
    align-items: center;
  }
  .footer__link {
    align-items: space-around;
  }
  .footer__link_social {
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

@media (max-width: 1000px) {
  .footer {
    padding: 55px 0;
    font-size: 16px;
  }
  .footer__container {
    gap: 40px 24px;
    grid-template-columns: 3fr 3fr 3fr;
  }
  .footer__contacts {
    font-size: 16px;
  }
  .footer__link {
    width: 26px;
    height: 26px;
    align-items: center;
  }
}

@media (max-width: 760px) {
  .footer {
    padding: 40px 0;
  }
  .footer__container {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px 30px;
    grid-template-columns: 1fr;
  }
  .footer__contacts {
    align-items: center;
    justify-content: start;
  }
}

@media (max-width: 580px) {
  .footer {
    font-size: 12px;
    padding: 30px 0;
  }
  .footer__container {
    gap: 30px 30px;
    grid-template-columns: 1fr;
  }
  .footer__kontakt {
    font-size: 12px;
    margin-top: 10px;
  }
  .footer__contacts {
    font-size: 14px;
  }
}
