.header {
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  transition: box-shadow 0.3s ease 0s; /* Add a transition effect */
  backdrop-filter: blur(8px); /* Add a blur effect */
  -webkit-backdrop-filter: blur(7px);
}
.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: padding-top 0.3s ease 0s, padding-bottom 0.3s ease 0s;
}

.header__scrolled {
  background-color: transparent;
  box-shadow: 0px 0px 29px -11px rgba(0, 0, 0, 0.75);
}

.header__scrolled .header__container {
  padding-top: 5px;
  padding-bottom: 5px;
}

.header__burger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
}

.header__burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #000;
  left: 5px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}
.header__burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}
.header__burger-btn span:nth-child(3) {
  transform: translateY(10px);
}
.header.open .header__burger-btn span {
  background-color: white;
}
.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}
.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.logo {
  display: block;
}
.logo__img {
  width: 200px;
  opacity: 100;
}
.logo__img:hover {
  opacity: 0.8;
}
.logo__img:active {
  opacity: 0.6;
}
.navigation {
  display: flex;
}
.navigation__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
}
.navigation__item:not(:last-child) {
  margin-right: 20px;
}
.navigation__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.navigation__link {
  margin-left: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  font-size: 18px;
}
.navigation__link:hover {
  color: #1d1c1d;
}
.navigation__link:active {
  color: #e90ee9;
}

.header__consultation {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 5px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 5px 10px;
  font-family: cursive;
  font-size: 20px;
}

.header__consultation:hover .header__consultation-button {
  width: auto;
  height: auto;
  visibility: hidden;
  background-color: #fff;
  opacity: 0.9;
  border-radius: 5px;
  padding: 5px 10px;
  transition: 0.3s ease 0s;
}

.header__consultation-button {
  display: flex;
  font-family: cursive;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  gap: 5px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 5px 10px;
  color: #fbfafa;
  font-size: 20px;
  cursor: pointer;
  width: 70px;
  height: 70px;
  overflow: hidden;
  transition: 0.2s ease;
  color: #000;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: all 0.3s ease-out;
  animation: animation_button 1.5s linear infinite;
}

@keyframes animation_button {
  0% {
    box-shadow: 0 0 0 0 #f1535e, 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  40% {
    box-shadow: 0 0 0 13.62px rgba(255, 196, 0, 0.7) 0, 0, 0,
      6.81px rgba(216, 196, 131, 0.7);
  }
  80% {
    box-shadow: 0 0 0 27.62px rgba(255, 196, 0, 0.7) 0, 0, 0;
  }
  100% {
    box-shadow: 0 0 0 34.657 rgba(126, 226, 99, 0.7),
      0 0 0 0 rgba(255, 255, 255, 0.7);
  }
}

.header__consultation-button:hover {
  width: auto;
  height: auto;
}

.header__consultation-button:hover .header__consultation-list {
  position: relative;
  top: auto;
  bottom: 10px;
  visibility: visible;
}

.header__consultation-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 13px;
  top: 70px;
  transition: 0.3s;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.header__consultation-title {
  color: white;
  font-size: 12px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  border-radius: 30px;
}

.header__consultation-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 0;
  transform: scaleX(0.4) scaleY(0.4) translateY(100px);
  opacity: 0;
  visibility: hidden;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header__consultation:hover .header__consultation-item {
  visibility: visible;
  opacity: 1;
  transition: 0.3s ease;
  transform: scaleX(1) scaleY(1) translateY(150px);
}

.header__consultation-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.header__consultation-icon svg {
  width: 33px;
  height: 33px;
  fill: #fff;
  align-items: center;
  justify-content: center;
}

.header__consultation-button {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  overflow: hidden;
}

.header__consultation-button:hover {
  background-color: #fff;
  opacity: 0.9;
  border-radius: 5px;
  padding: 5px 10px;
  transition: 0.3s ease 0s;
}

.header__consultation-button .header__consultation-button svg {
  width: 40px;
  height: 40px;
  fill: #fff;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1440px) {
  .logo__img {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 180px;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 1000px) {
  .header__burger-btn {
    display: block;
  }
  .navigation {
    position: absolute;
    left: -400px;
    top: 0;
    width: 350px;
    background-color: #ccabdf;
    padding: 75px 20px 20px 20px;
    transition: transform 0.3s ease 0s;
    border-radius: 15px;
    z-index: 1;
    opacity: 0.9;
  }
  .navigation__list {
    display: block;
  }
  .navigation__link {
    font-size: 16px;
    color: #fff;
    display: block;
    padding: 10px 0;
  }
  .header.open .navigation {
    transform: translateX(100%);
  }
  .header__consultation {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 760px) {
}

@media (max-width: 580px) {
}
