* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  scroll-behavior: smooth;
}
@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url("../fonts/PTSans-Regular.ttf") format("woff2");
  font-display: swap;
}

html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: "PTSans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  color: #070707;
  background-color: #f3f5f4;
  line-height: 1.5;
  padding-top: 70px;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/* бегущая строка */
.marque-text {
  margin: 30px auto;
  border: 1px solid #000;
  max-width: 100%;
  overflow: hidden;
}
.marque-text div {
  display: flex;
  width: 200%;
}

.marque-text h1 {
  white-space: nowrap;
  width: 100%;
  animation: marque-text 20s linear infinite;
}

@keyframes marque-text {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
