:root {
  scroll-behavior: smooth;
}
@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url("../fonts/PTSans-Regular.ttf") format("woff2");
  font-display: swap;
}

html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: "PTSans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  color: #070707;
  background-color: #f3f5f4;
  line-height: 1.5;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.header {
  background-color: rgb(250, 187, 234);
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  padding: 27px 0;
}
.header__container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
}
.burger {
  display: none;
  position: relative;
  --width: 21px;
  --height: 14px;
  --size-line: 2px;
  --color: #f79797;
  width: var(--width);
  height: var(--height);
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.burger__line {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  background-color: #f99999;
  height: var(--size-line);
  transform: translateY(-50%) scale(1);
  transition: transform 0.3s ease-in;
}
.burger:before,
.burger:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background-color: #f99999;
  height: var(--size-line);
  transition: transform 0.3s ease-in, top 0.3s ease-in;
}

.burger:before {
  top: 0;
}

.burger:after {
  top: calc(100% - var(--size-line));
}

.burger__active .burger__line {
  transform: translateY(-50%) scale(0);
}

.burger__active:before {
  top: 50%;
  transform: rotate(-45deg);
}

.burger__active:after {
  top: 50%;
  transform: rotate(45deg);
}
@media (max-width: 1000px) {
  .burger {
    display: block;
  }
}

@media (max-width: 760px) {
}

@media (max-width: 580px) {
  .burger {
    --height: 12px;
    --width: 18px;
  }
}

.header__navigation {
  justify-self: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation__list {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-around;
}
.naviagtion__item {
  position: relative;
  align-items: center;
}
.navigation__link {
  font: size 18px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: var(--second-color);
  position: relative;
  transition: color 0.3s ease-in-out;
}
.navigation__link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--six-color);
  transition-duration: 0.4s;
  transition-property: transform;
  transform: scaleX(0);
}

.navigation__link:hover:before {
  transform: scaleX(1);
}

.navigation__link:hover {
  color: #070707;
}

.header__consultation {
  align-items: center;
  justify-content: start;
  margin-right: 20px;
  font-size: 15px;
}
@media (max-width: 1440px) {
  .navigation__list {
    gap: 20px;
  }
  .navigation__link {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .navigation {
    display: none;
    width: 100%;
  }
  .navigation_active {
    display: block;
  }

  .naviagtion__item {
    flex-basis: 146px;
  }

  .navigation__link {
    display: block;
    text-align: center;
    width: 100%;
    border: 2px solid #e431ed;
    border-radius: 22px;
    padding: 7px 10px;
    font-size: 12px;
  }

  .navigation__link:before {
    content: none;
  }
}

@media (max-width: 760px) {
  .navigation__list {
    flex-wrap: wrap;
    gap: 8px 6px;
  }
  .naviagtion__item {
    flex-basis: calc(50% - 6px);
  }
}

@media (max-width: 580px) {
}
.header__consultation {
  justify-self: end;
  display: inline-flex;
  padding: 16px 30px;
  align-items: space-around;
  gap: 10px;
  background-color: #f42718;
  border-radius: 10px;
  color: #ffffff;
  line-height: 130%;
  border: none;
  box-shadow: 0px 2px 6px transparent;
  transition-property: background-color, box-shadow, outline-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.header__consultation:hover {
  background-color: #f19494;
}

.header__consultation:active {
  background-color: #efaedf;
  box-shadow: 0px 2px 6px 0px rgba(2, 67, 52, 0.36);
}
.header__consultation:focus {
  outline-color: #f3d1f4;
}
@media (max-width: 1440px) {
  .header__consultation {
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 8px;
  }
}

@media (max-width: 1000px) {
  .header {
    padding: 20px 0;
  }

  .header__burger {
    grid-row: 1;
    grid-column: 1;
  }

  .header__logo {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
  }

  .header__container {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 38px;
  }

  .header__consultation {
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 5px;
  }

  .header__navigation {
    grid-row: 2;
    grid-column: 1/4;
  }
}

@media (max-width: 580px) {
  .header {
    padding-top: 16px;
    padding-bottom: 20px;
  }
  .header__consultation {
    padding: 5px 14px;
    font-size: 12px;
    gap: 15px;
  }
}

.hero {
  background-color: #f3d1f4;
  color: #000;
}

.hero__container {
  max-width: 1240px;
  padding: 0 30px;
  margin: 0 auto;
}
.hero__content {
  background-position: top center;
  background-size: initial;
  background-repeat: no-repeat;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__title {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.72px;
}
.hero__description {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.72px;
}
.hero__img {
  width: 100%;
}
.features {
  background-color: #f37ae9;
  padding: 40px 0;
  color: black;
}
.features__container {
  max-width: 1240px;
  padding: 0 40px;
  margin: 0 auto;
}
.features__list {
  display: flex;
  gap: 30px;
  justify-content: space-around;
}
.features__lists {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-evenly;
}
.features__img {
  width: 100px;
  height: 100px;
}
.features__item-text {
  text-align: justify;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.72px;
  margin-bottom: 10px;
}
.product {
  background-color: #efaedf;
  padding: 80px 0;
  color: black;
}
.product__container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.product__content {
  padding-top: 56px;
  max-width: 500px;
}
.product:nth-child(even) .product__container {
  flex-direction: row-reverse;
}
.product:nth-child(even) .product__content {
  text-align: space-evenly;
}

.product__title {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: 0.7px;
  margin-bottom: 30px;
  text-align: center;
}
.product__features {
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.72px;
  margin-bottom: 50px;
  text-align: center;
}
.product__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.72px;
  margin-bottom: 70px;
  text-align: center;
}
.product__button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 70px;
}
.product__button {
  display: block;
  padding: 14px 36px;
  align-items: center;
  gap: 36px;
  border: 2px solid transparent;
}
.product__button-order {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.72px;
  border-radius: 10px;
  background-color: #53f0c1;
  color: rgb(7, 7, 7);
}
.product__button-more {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.72px;
  border: 2px solid #070707;
  border-radius: 10px;
}
.product__button:hover {
  background-color: #f0a0a0;
  border-color: black;
  color: black;
}

.product__button:active {
  background-color: #92e3f1;
  border-color: black;
  color: black;
}
.product__button-order:focus {
  outline-color: #f58585;
}

.product__button-more:focus {
  outline-color: #f58585;
}
.product__picture {
  width: calc(40% - 15px);
  border-radius: 16px;
  object-fit: cover;
}
.feedback {
  background-color: rgb(237, 117, 235);
}
.feedback__container {
  max-width: 1240px;
  padding: 0 30px;
  margin: 0 auto;
}
.feedback__title {
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.72px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  text-align: center;
  padding-top: 30px;
}
.all {
}
.image {
}
.marque-text {
}
.footer {
  background-color: #f793ca;
  color: #070707;
  padding: 30px 0 100px;
  font-size: 18px;
  line-height: 130%;
}
.footer__container {
  display: flex;
  flex-direction: inherit;
  justify-content: space-evenly;
  gap: 38px 30px;
}
.footer__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.96px;
  align-items: center;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer__link {
  display: inline-block;
  margin-bottom: 10px;
  color: #070707;
  line-height: 130%;
  letter-spacing: 0.64px;
}
.footer__info {
  display: flex;
  flex-direction: column;

  align-items: space-around;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.64px;
}
.footer__rules {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.64px;
}
.footer__kontakt {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.footer__contacts {
  display: grid;
  grid-template-rows: repeat(1, 2fr);
  align-items: space-around;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.footer__items {
  display: flex;
}
.footer__link {
  transition: color 0.3s ease-in-out;
}
.footer__list-social {
  display: flex;
  align-items: center;
}

.footer__item-social {
  margin-right: 20px;
}
.footer__link-social {
  display: block;
  width: 40px;
  height: 40px;
}

.maps {
  background-color: #efaedf;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.maps__title {
  color: #0f0e0e;
  font-size: 45px;
}
/* slider */
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

.swiper__title {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: 0.72px;
  margin-bottom: 50px;
  text-align: center;
}

.swiper__text {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: 0.72px;
  margin-bottom: 50px;
  text-align: center;
}
.swiper__link {
  display: inline-block;
  font-size: 22px;
  font-style: italic;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: 0.72px;
  margin-bottom: 50px;
  text-align: center;
  color: #0f0e0e;
}
.swiper__link:hover {
  color: #f9bede;
  border-bottom: 1px solid #fad4e9;
  transition: color 0.3s ease-in-out;
}
.swiper__link:active {
  color: #abf42e;
  border-box: 1px solid #fad4e9;
  transition: color 0.3s ease-in-out;
}

/* бегущая строка */
.marque-text {
  margin: 30px auto;
  border: 1px solid #000;
  max-width: 100%;
  overflow: hidden;
}
*/ */ */ .marque-text div {
  display: flex;
  width: 200%;
}

.marque-text h1 {
  white-space: nowrap;
  width: 100%;
  animation: marque-text 20s linear infinite;
}

@keyframes marque-text {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
