.night-theme-btn {
  position: fixed;
  top: 190px;
  right: 10px;
  border: none;
  outline: none;
  width: 45px;
  height: 45px;
  border-radius: 8px;
  background-color: rgba(57, 166, 239, 0.5);
  cursor: pointer;
  transition: filter 0.4s background-color 0.4s;
}

.night-theme-btn:hover {
  filter: brightness(120%);
}

.night-theme-btn:active {
  filter: brightness(60%);
}

.night-theme-btn__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35px;
  height: 35px;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.15s;
}

.night-theme-btn__icon-moon {
  opacity: 1;
}

html {
  transition: background-color 0.4s, color 0.4s;
}

body.night-theme .header,
body.night-theme .hero,
body.night-theme .features,
body.night-theme .product,
body.night-theme .feedback,
body.night-theme .footer,
body.night-theme .maps,
body.night-theme .contact,
body.night-theme .voucher,
body.night-theme .training {
  transition: background-color 0.4s, color 0.4s;
  background-color: #1c1c1c;
  color: azure;
}

.img {
  transition: border-color 0.4s, filter 0.4s;
}

a {
  transition: color 0.4s;
}

body.night-theme a {
  color: azure;
}

body.night-theme .swiper__title {
  color: #e9e9e4;
}

body.night-theme .swiper__text {
  color: #eee5e5;
}

body.night-theme .swiper-pagination-bullet {
  background-color: #f4ee45;
}

h1 {
  transition: color 0.4s;
}

body.night-theme h1 {
  color: azure;
}

body.night-theme h1 {
  color: #d9d9d7;
}

body.night-theme .img {
  border-color: #eee5e5;
  filter: brightness(70%);
}

body.night-theme .night-theme-btn {
  background-color: #f4ee45;
}

body.night-theme .night-theme-btn__icon-moon {
  opacity: 0;
}

body.night-theme .night-theme-btn__icon-sun {
  opacity: 1;
}
