.product {
  background-color: #ccabdf;
  padding: 80px 0;
  color: black;
}
.product__container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.product__content {
  padding-top: 56px;
  max-width: 500px;
}
.product:nth-child(even) .product__container {
  flex-direction: row-reverse;
}
.product:nth-child(even) .product__content {
  text-align: space-evenly;
}

.product__title {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: 0.7px;
  margin-bottom: 30px;
  text-align: center;
}

.product__title:hover {
  color: #e90ee9;
  border-bottom: 2px solid #ccabdf;
  transition: 0.5s;
  cursor: pointer;
}

.product__features {
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  font-style: italic;
  letter-spacing: 0.72px;
  margin-bottom: 10px;
  text-align: center;
}
.product__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.72px;
  margin-bottom: 70px;
  text-align: center;
}

.product__description:hover {
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.product__button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  gap: 70px;
}

.product__button {
  display: block;
  padding: 14px 36px;
  align-items: center;
  gap: 36px;
  border: 2px solid transparent;
}
.product__button-order {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.72px;
  border-radius: 10px;
  background-color: #53f0c1;
  color: rgb(7, 7, 7);
}
.product__button-more {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.72px;
  border: 2px solid #070707;
  border-radius: 10px;
}
.product__button:hover {
  background-color: #f0a0a0;
  border-color: black;
  color: black;
}

.product__button:active {
  background-color: #92e3f1;
  border-color: black;
  color: black;
}
.product__button-order:focus {
  outline-color: #f58585;
}

.product__button-more:focus {
  outline-color: #f58585;
}
.product__picture {
  border-radius: 26px;
  overflow: hidden;
  object-fit: contain;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: filter 0.3s ease;
  filter: drop-shadow(4px 7px 10px transparent);
  transform: translate(0, 0.9);
  transform: scale(1.1);
}

.container__image {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}
.container__image .card {
  position: relative;
  width: 600px;
  height: 700px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container__image .card .content {
  position: absolute;
  bottom: -162px;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  transition: bottom 0.5s;
  transition-delay: 0.8s;
  backdrop-filter: blur(10px);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.container__image .card:hover .content {
  bottom: 0px;
  transition-delay: 0s;
}

.container__image .card .content .contentBx {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  transition: 0.5s;
}

.container__image .card .content .contentBx .image__title {
  color: #0c0b0b;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: normal;
  justify-content: center;
  margin: 20px 0 15px;
  line-height: 1.1em;
  transition: 0.5s;
  transform: translateY(-20px);
  opacity: 0;
  transition-delay: 0.6s;
}
.container__image.card:hover .content .contentBx {
  transform: translateY(0px);
  opacity: 1;
  color: #000;
}
.container__image .card .content .contentBx .image__title .image__subtitle {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}
.container__image .card .sci {
  position: relative;
  bottom: 10px;
  display: flex;
}
.container__image .card .sci .sci__item {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.2s * var(--i));
}
.container__image .card:hover .sci .sci__item {
  transform: translateY(0px);
  opacity: 1;
}
.container__image .card .sci .sci__item {
  color: #121111;
  font-size: 24px;
}

.image__title {
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0.7px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  font-size: 60px;
}

.sci {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.sci__item {
  list-style: none;
  margin: 0 10px;
}

.sci__item:hover .sci__link {
  color: #ccabdf;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  filter: brightness(100%);
  filter: drop-shadow(4px 7px 10px transparent);
}

.sci__link {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  cursor: pointer;
}

.sci__link:hover {
  color: #ccabdf;
}

#product__slider {
  display: block;
  gap: 15px;
  font-size: 26px;
  margin-bottom: 15px;
}

#sliderValue {
  display: flex;
  color: #ec8be1;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px;
  border-radius: 10px;
  border: 1px solid #ec8be1;
  font-weight: 700;
  font-size: 28px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-style: italic;
  padding-left: 10px;
}

.start {
  opacity: 0;
}

.animation {
  animation: fade 0.3s forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.holder-animation {
  animation: holder 4s;
}

@keyframes holder {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 1440px) {
  .product__content {
    padding-top: 40px;
    max-width: 460px;
  }
  .product__title {
    font-size: 55px;
    margin-bottom: 20px;
  }

  .product__features {
    margin-bottom: 30px;
    font-style: italic;
    font-size: 30px;
  }

  .product__description {
    font-size: 33px;
    margin-bottom: 50px;
  }
}

@media (max-width: 1200px) {
  .product {
    padding: 60px 0;
  }
  .product__content {
    padding-top: 24px;
    max-width: 380px;
  }
  .product__title {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .product__features {
    margin-bottom: 30px;
    font-style: italic;
    font-size: 28px;
  }

  .product__description {
    font-size: 22px;
    margin-bottom: 50px;
  }
  .product__button-wrapper {
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
  .product__button {
    font-size: 16px;
    padding: 16px 30px;
    border-radius: 8px;
  }
}

@media (max-width: 1000px) {
  .product {
    padding: 50px 0;
  }
  .product__content {
    padding-top: 24px;
    max-width: 330px;
  }
  .product__title {
    font-size: 45px;
  }

  .product__features {
    font-style: italic;
    font-size: 20px;
  }

  .product__description {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .product__button-wrapper {
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .product__button {
    font-size: 18px;
    padding: 8px 20px;
    border-radius: 6px;
  }
  .profuct__picture {
    width: calc(50% - 10px);
    object-fit: cover;
    border-radius: 20px;
  }
}

@media (max-width: 760px) {
  .product {
    padding: 20px 0;
  }

  .product__title {
    font-size: 35px;
  }

  .product__features {
    font-style: italic;
    margin-bottom: 20px;
  }

  .product__description {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .product__button-wrapper {
    gap: 20px;
  }
}

@media (max-width: 580px) {
  .product:nth-child(even) .product__container,
  .product__container {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .product__content {
    width: 100%;
    max-width: none;
    padding: 0;
  }
  .product__picture {
    width: 100%;
  }
  .product__title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .product__features {
    font-style: italic;
    font-size: 16px;
  }

  .product__description {
    font-size: 14px;
  }
  .product__button {
    font-size: 14px;
    padding: 5px 14px;
  }
  .product__picture {
    object-fit: cover;
    padding: 0 20px;
    border-radius: 26px;
  }
}
