.training {
  background-color: #ccabdf;
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/szkolenia.jpeg);
  background-size: cover;
  padding: 80px 0;
  margin-bottom: 100px;
  height: 100%;
  width: 100%;
}
.training__container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.training__left {
  max-width: 500px;
  margin-left: 50px;
}

.training__right {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  max-width: 500px;
}
.training__title {
  font-family: Arial;
  font-size: 60px;
  font-style: italic;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  line-height: 100%;
  letter-spacing: 0.01em;
  margin-bottom: 50px;
  margin-left: 20px;
}
.training__text {
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.1em;
  margin-bottom: 24px;
  width: 100%;
}
.training__down {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 113px;
  align-items: center;
  font-family: Arial;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.04em;
  line-height: 130%;
}
.training__down-img {
  width: 200%;
  object-fit: cover;
  border-radius: 15px;
  opacity: 2;
  color: transparent;
  align-items: center;
  margin-left: 40px;
  transition: filter 0.3s ease;
  filter: drop-shadow(4px 7px 20px transparent);
  margin-bottom: 13px;
  cursor: pointer;
  transform: translate(0, 0);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.training__down-img:hover {
  filter: drop-shadow(4px 7px 20px #ccabdf);
  transition: filter 0.3s ease;
  transform: translate(0, -5px);
}

.training__down-img:active {
  filter: drop-shadow(4px 7px 20px #ccabdf);
  transition: filter 0.3s ease;
  transform: translate(0, 5px);
}

.training__down-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  opacity: 2;
  color: transparent;
}

@media (max-width: 1440px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1000px) {
  .training__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .training__left {
    margin-left: 0;
    margin-bottom: 50px;
    max-width: 500px;
  }
  .training__right {
    max-width: 500px;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .training__title {
    font-size: 50px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    line-height: 100%;
  }
  .training__text {
    font-size: 20px;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .training__down-img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    opacity: 2;
  }
  .training__down {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }
}

@media (max-width: 760px) {
}

@media (max-width: 580px) {
}
